// itemdetails jsx 
#detailsMainBox {
    width: 100%;
    margin: 0 auto;

}




// Componente: "ItemDetailContainer - Price Box" 

.priceBox {
    padding: 1rem;
    margin-left: 1rem;
    width: 100%;
    border-left: 1px solid rgb(197, 197, 197);

    span {
        font-size: 1.8rem;
    }
}

.priceLista {

    border-top: 1px solid lightblue;
    border-bottom: 1px solid lightblue;
    margin: 0.7rem 0rem;

    .pListaUno {
        margin-top: 0.5rem;
    }

    .pListaDos {
        position: relative;
        bottom: 0.7rem;
    }

}

.green {
    color: #4caf50;
}

.iconBox {
    border-bottom: 1px solid lightblue;
    margin-bottom: 1rem;
}

.carousel {
    display: flex;
}


// Breakpoints

@media (max-width: 600px) {
    .priceBox {
        width: 100%;
    }
}