.carouselBox{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
    
    // border: 4px solid blue;
    // height: 10vh;

}

.carouselItem {
    width: 100%;
    // border: 3px solid red;
    img {
        width: 100%;
        height: 30rem;
        object-fit: cover;
    }
}